<!-- Creado por Marta Lara Mayo 2021-->
<!-- Revisado por Pepe Millan Mayo 2021-->
<!-- Estudiar con detenimiento el bucle cdk-virtual-scroll-viewport
se trata de una directiva del cdk que proporciona un scroll infinito
para mostrar listas muy grandes y complejas y que en el DOM solo se 
carguen pocos registros, unos pocos más de los que caben en el view port
de esta forma el DOM se procesa muy rápido y el componente es mucho más eficiente
no se aplica en el modo regilla porque es muy complicado establecer los estilos de la fila-->
<div class="container">
    <!-- Si es la oferta del dia, la vista es la siguiente, si no, vamos a template productos -->
    <div *ngIf="esOfertaDelDia else productos">
        <div class="row rounded justify-content-center py-5">
            <!-- El por qué de este container: https://stackoverflow.com/questions/52736984/cannot-read-property-image-of-undefined-angular-6/52737119 -->
            <ng-container *ngIf="listaProductos[0]">
                <div class="col-2"></div>
                <div class="col-4 ">
                    <img src="{{listaProductos[0].imagenProducto}}" class="rounded img-fluid img-thumbnail" />
                </div>
                <div class="col-4 border rounded text-center pt-5">
                    <h3>{{listaProductos[0].nombreProducto}}</h3>
                    <p class="lead my-2">Precio habitual: {{listaProductos[0].precioProducto}}</p>
                    <p class="lead my-2">Precio oferta:
                        <strong>{{listaProductos[0].precioProductoOferta}}</strong>
                    </p>
                    <button value="btn btn-outline-secondary" (click)="comprobarProductoEnCarrito(listaProductos[0])">
                        <span class="fa fa-shopping-cart "></span>Añadir a carrito
                    </button>
                </div>
                <div class="col-2"></div>
            </ng-container>
        </div>
    </div>

    <!-- Template de productos -->
    <!-- Pregunta 4. ¿Qué debemos escribir en vez de /???? para indicar que este template se llama productos? -->
    <!-- <ng-template ??????????> -->
        <span class="lead mt-2 text-start">
            Mostrando: {{listaProductos.length}} productos
        </span>
        <span class="lead mt-2 text-end">
            {{textoCabecera}}</span>
        <span class="float-end">
            Vista:
            <i class="fa fa-bars" (click)="cambiarVista()" title="Vista de lista"></i>
            <i class="fa fa-table" (click)="cambiarVista()" title="Vista de rejilla"></i>
        </span>
        <ng-container *ngIf="vistaLista; else rejilla">
            <cdk-virtual-scroll-viewport [itemSize]="141" style="height: 423px">
                <div *cdkVirtualFor="let produ of listaProductos;let i = index">
                    <div class="row my-2 border">
                        <div class="col-2 text-center my-auto">
                            <img src="{{produ.imagenProducto}}" class="imagen-producto img-fluid rounded mx-1 my-1">
                        </div>
                        <div class="col-7">
                            <p class="lead my-2" [ngClass]="{'of':produ.oferta}">{{produ.nombreProducto}}</p>
                            <p class="">{{produ.descripcionProducto}}</p>
                        </div>
                        <div class="col-3">
                            <div class="mt-2">Precio habitual: {{produ.precioProducto}} €</div>
                            <div>Precio oferta:<strong> {{produ.precioProductoOferta}} € </strong></div>
                            <div [ngStyle]="{'display':!produ.enStock ? 'block' : 'none' }">
                                <div class="etiqueta">
                                    <span class="vc">Agotado</span>
                                </div>
                            </div>
                            <button value="btn btn-outline-secondary" [disabled]="!produ.enStock"
                                (click)="comprobarProductoEnCarrito(produ)">
                                <span class="fa fa-shopping-cart "></span>Añadir a carrito
                            </button>
                        </div>
                    </div>
                </div>

            </cdk-virtual-scroll-viewport>
        </ng-container>
        <ng-template #rejilla>
            <div class="row">
                <div *ngFor="let produ of listaProductos;let i = index" 
                class="col-md-4 border py-1 text-center">
                    <img src="{{produ.imagenProducto}}"
                        class="imagen-producto rounded img-fluid img-thumnail rounded mx-1 my-1">
                    <p class="lead" [ngClass]="{'of':produ.oferta}">{{produ.nombreProducto}}</p>
                    <div class="">Precio habitual: {{produ.precioProducto}} €</div>
                    <div class="display-7 my-2" >
                        Precio oferta:
                        <strong> {{produ.precioProductoOferta}} € </strong>
                    </div>
                    <div [ngStyle]="{'display':!produ.enStock ? 'block' : 'none' }">
                        <div class="etiqueta">
                            <span class="vc">Agotado</span>
                        </div>
                    </div>
                    <button value="btn btn-outline-secondary" 
                            (click)="comprobarProductoEnCarrito(produ)"
                            [disabled]="!produ.enStock">
                        <span class="fa fa-shopping-cart "></span>Añadir a carrito
                    </button>
                </div>
            </div>
        </ng-template>
    </ng-template>
</div>