<!-- Creado por Marta Lara Mayo 2021-->
<!-- Revisado por Pepe Millan Mayo 2021-->
<div class="container">
    <div class="row rounded overflow-hidden text-center fondo-oferta pb-3">
        <div class="col">
            <h4 class="py-4">Oferta de hoy: tulipanes</h4>
            <a class="btn btn-dark"
                (click)="Productos('ofertaDelDia')">Aprovechar la
                oferta</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col rounded-top bg-oscuro text-center text-white overflow-hidden"
        (click)="Productos('Jardin')">
        <div class="mx-auto mt-3">
                <h4>Jardinería</h4>
                <p>Echa un vistazo a nuestra sección</p>
            </div>
            <div class="bg-light mx-auto uno"></div>
        </div>
        <div class="col rounded-top bg-light text-center overflow-hidden"
            (click)="Productos('Comida')">
            <div class="mx-auto mt-3">
                <h4>Alimentación</h4>
                <p>La comida más sana</p>
            </div>
            <div class="bg-oscuro mx-auto  dos"></div>
        </div>
        <div class="col rounded-top bg-oscuro text-center text-white overflow-hidden"
            (click)="Productos('Ropa')">
            <div class="mx-auto mt-3">
                <h4>Ropa</h4>
                <p>100% algodón orgánico</p>
            </div>
            <div class="bg-light mx-auto tres"></div>
        </div>
    </div>
</div>