<div class="container">
    <div class="row my-2">
      <!-- En caso de carrito vacío mostramos mensaje, si no, template carrito -->
      <ng-container class="col" *ngIf="(listaCarrito.length==0); else carrito">No hay nada en el carrito</ng-container>  
      <ng-template #carrito>
        <div class="col-7">
        <!-- columna de elementos de carrito-->
          <table class="table table-hover my-3">
              <thead>
                <tr><td></td><td>Producto</td><td>Precio oferta</td></tr>
              </thead>
              <tbody>
              <tr  *ngFor="let elemento of listaCarrito">              
                    <td>
                      <img class="imagen-producto img-thumbnail rounded mx-auto d-block" 
                        src="{{elemento.imagenProducto}}">
                      </td>
                      <!-- Pregunta 7. ¿Por qué sustituimos en la siguiente línea /???? para que en la vista se escriba el nombre del producto del elemento? -->
                      <td>????????????????</td>
                      <td>{{elemento.precioProductoOferta}}</td>
                      <td>{{elemento.cantidad}}</td>
                      <td>      
                        <button class="btn btn-outline-secondary" 
                        (click)="borrarElementoCarrito(elemento)"><i class="fa fa-trash"></i></button>
                      </td>
              </tr>
            </tbody> 
          </table>      
        </div>
    <div class="col fondo rounded my-3 mx-3 px-3 py-3">
        <!-- columna de resumen -dcha-->
        <div class="row ml-2"><h2>Pedido</h2></div>
          <div class="row ml-1"><p>Selecciona el envío</p></div>
          <select required [(ngModel)]="gastosEnvio">
            <option selected="selected" value ="0">Estandar - 0.00 €</option>
            <option value="5"> Urgente - 5.00 €</option>
          </select> 
          <div class="row">
            <div class="col">Total: {{total | number:'1.0-3'}}  €</div>
          </div>
          <div class="row">
            <!-- si no forzamos el convert, hay que poner una función ConvertToInt(val){ return parseInt(val);} -->
            <!-- Usamos un pipe para dar formato al number, de 0 a 3 decimales. Ver apéndices! -->
            <div class="col">Total con envío: {{(gastosEnvio*1+total*1 | number:'1.0-3')}}  €</div>
          </div>
          <div class="row">
            <div class="col">
              <!-- usamos la directiva appConfirma -->
              <button  appConfirma="¿Confirmas que quieres realizar el pago?"
              (onEventRetornoConfirma)="respuestaConfirma($event);"
                class="btn btn-dark float-end" 
                [disabled]="!(listaCarrito.length!=0)"><i class="fa fa-paypal"></i>Pagar</button></div>
          </div> 
        </div>      
      </ng-template>
  </div>
