<!-- Creado por Marta Lara Septiembre 2022-->
<!-- Revisado por Pepe Millan Mayo 2021-->
<!-- carga un componente u otro en función de la opciónMenu 
que se asigna en cada momento a la variable pública del servicio -->
<!-- El componente prodcutos se carga al vuelo  -->
<ng-container [ngSwitch]="appService.opcionMenu">
    <app-inicio *ngSwitchCase="'INICIO'"></app-inicio>
    <app-carrito *ngSwitchCase="'CARRITO'"></app-carrito>   
    <app-login *ngSwitchCase="'LOGIN'"></app-login>
    <app-contacta *ngSwitchCase="'CONTACTA'"></app-contacta>
    <app-noticias *ngSwitchCase="'NOTICIAS'"></app-noticias>
    <app-productos *ngSwitchCase="'PRODUCTOS'" [opcion]="appService.opcionProductos" [filtro]="appService.filtroProductos"></app-productos>
</ng-container>
